hw1.zip
hw1/__MACOSX/._ps1-template
hw1/__MACOSX/ps1-template/._.DS_Store
hw1/__MACOSX/ps1-template/._macros-sp20.tex
hw1/__MACOSX/ps1-template/._ps1-template.tex
hw1/ps1-template/.DS_Store
hw1/ps1-template/__pycache__/Doubly_Linked_List_Seq.cpython-312.pyc
hw1/ps1-template/ps1-template.tex
hw1/ps1-template/macros-sp20.tex
hw1/__MACOSX/ps1-template/._tests.py
hw1/__MACOSX/ps1-template/._Doubly_Linked_List_Seq.py
README.md
